body {
  font-family: sans-serif;
  background-color: rgb(223, 223, 223);
  padding: 0;
  margin:0;
  right: 0;
  left: 0;
  top: 0;
  bottom:0;
}


* {
   margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}


a {
  text-decoration: none;
  color: black;
  font-family: college,sans-serif;
  color: aliceblue;    
}


.error {
  color: red;
}


input[type=text], select, textarea {
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px;
  border: 1px solid rgb(136, 130, 130);
  margin-top: 6px;
  margin-bottom: 30px;
  resize: vertical;
}


input[type=email], select, textarea {
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px;
  border: 1px solid rgb(141, 141, 141);
  margin-top: 6px;
  margin-bottom: 30px;
  resize: vertical;
}


input[type=tel], select, textarea {
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px;
  border: 1px solid rgb(107, 105, 105);
  margin-top: 6px;
  margin-bottom: 30px;
  resize: vertical;
}


#Submit {
  background-color: rgb(139, 9, 0);
  color: white;
  font-size: 15px;
  padding: 24px 40px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}


#Submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.404),0 17px 50px 0 rgba(0,0,0,0.19);
}


.container {
  max-width:600px;
  width:100%;
  margin:0 auto;
  position:relative;
  background-color: rgb(255, 255, 255);
}


form {
  border: 10px solid rgb(143, 79, 79);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


hr.line{
  border-top: 0.5px solid white;
  width: 88%;
  margin-top: 25;
  margin-bottom: 10px; 
}

.image-logo{
  width: 40%;
  position: center;
  
}
